// Body
$body-bg: #f8fafc;

// Black pallete
$p-gray: #6b6b6b;
$p-black: rgb(17, 24, 39);

// Colors pallete
$p-color-100: #eef2ff;
$p-color-200: #e0e7ff;
$p-color-300: #c7d2fe;
$p-color-400: #a5b4fc;
$p-color-500: #818cf8;
$p-color-600: #6366f1;
$p-color-700: #4f46e5;
$p-color-800: #4338ca;
$p-color-900: #3730a3;
$p-color-950: #1E1B4B;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
